#header {
  min-height: 10vh;
  background:
    linear-gradient(90deg, var(--verde-secundario), var(--verde-primario)),
    var(--verde-primario);
  clip-path: path(
    "M0 0H1920V83C1920 83 1609 155.5 1385.5 97.5C1162 39.5 1152 60.5 1043.5 83C935 105.5 804 96.5 695.5 75C587 53.5 506.5 56 390 83C273.5 110 183.819 123.277 106.5 106.423C52.6625 94.6875 0 77.8072 0 75C0 62.5 0 0 0 0Z"
  );
}

/*? o ::after funciona como uma "extensão" do #header sem precisar aumentar os vh's.*/
#header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100px;
  background: inherit;
}

#img {
  width: 20%;
}
