#header {
  min-height: 10vh;
  background:
    linear-gradient(90deg, var(--verde-secundario), var(--verde-primario)),
    var(--verde-primario);
  clip-path: path(
    "M0 0H1920L1919 83C1919 83 1446.5 155.5 1223 97.5C999.5 39.5 970 65 941 81C912 97 804 96.5 695.5 75C587 53.5 506.5 56 390 83C273.5 110 183.819 123.277 106.5 106.423C52.6625 94.6875 0 77.8072 0 75C0 62.5 0 0 0 0Z"
  );
}

/*? o ::after funciona como uma "extensão" do #header sem precisar aumentar os vh's.*/
#header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100px;
  background: inherit;
}

#img {
  width: 20%;
}

#img_usuario {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: var(--radius-md);
}

#div {
  display: flex;
  align-items: center;
  gap: 2vw;
}

#user_info {
  width: 200px;
  height: 60px;
  color: var(--branco);
  padding: var(--padding-md);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-sm);
  background: linear-gradient(
    135deg,
    var(--verde-secundario),
    var(--verde-primario)
  );
  transition: box-shadow 0.2s ease;
}

#user_info:hover {
  z-index: 2;
  box-shadow: var(--shadow-md);
}

#user_info h4,
#user_info p {
  color: white;
}
